
<div class="index-body">
	<div class="container-fluid">
		<h1>Roadrunners</h1>
		<p>
			Exploreing the World.
		</p>
		<div id = "carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- indicators -->

				<ol class = "carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active">
					</li>

					<li data-target="#carousel-example-generic" data-slide-to="1">
					</li>

					<li data-target="#carousel-example-generic" data-slide-to="2">				
					</li>
					
				</ol>

				<!-- wrapper for slides -->

				<div class="carousel-inner" role="listbox">
					<% @products.each do |product|%>
					<div class= "carousel-item <%= "active" if product === @products.first%>">
						<%= image_tag(product.image, class: "img-responsive, img-width") %>
						<div class="carousel-caption">
							<h3 class="carousel-text"><%= product.title %></h3>
						</div>
					</div>
					<% end %>
				</div>

				<!-- controls -->
				<a class="carousel-control-prev" href="#carousel-example-generic" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#carousel-example-generic" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
		</div>		
	</div>
</div>